.body{
    margin: 0;
    padding: 0;
    display: flex;
}

@keyframes quadrado{
    0%{
        background:  rgb(196, 71, 194);
        transform: translate(50px,50px);
        border-radius: 5%;
    }
    25%{
        background: rgb(8, 8, 128);
        transform: translate(1350px, 50px);
        border-radius: 50%; 
    }
    50%{
        background: rgb(102, 7, 102);
        border-radius: 5%;
        width: 100px;
        height: 100px;
        transform: scale(1.0);
        transform: translate(1350px,600px);

    }
    75%{
        background: rgb(163, 37, 37);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        transform: translate(50px,600px);
    }
    100%{
        background: rgb(217, 114, 131);
        transform: scale(1.5);
        transform: translate(50px,50px);
        border-radius: 5%;
    }
}


.animacao{
    background: rgb(76, 76, 239);
    width: 100px;
    height: 100px;
    animation-name: quadrado;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 50;
}
